<div class="content">
	<div class="row">
  	<div class="col-md-12">
    	<div class="propery-tabs">
      	<div class="tabs-block active">
        	<div class="icon">
          	<%= image_tag 'add_property-icon1.png' %>
          </div>
          <div class="name">Property<br>Information</div>
        </div>
        <div class="tabs-block">
        	<div class="icon">
            <%= image_tag 'add_property-icon2.png' %>
          </div>
          <div class="name">Property<br>Setting</div>
        </div>
        <div class="tabs-block">
        	<div class="icon">
            <%= image_tag 'add_property-icon3.png' %>
          </div>
          <div class="name">Property<br>Policies</div>
        </div>
        <div class="tabs-block">
        	<div class="icon">
            <%= image_tag 'add_property-icon4.png' %>
          </div>
          <div class="name">Property<br>Amenities</div>
        </div>
        <div class="tabs-block">
        	<div class="icon">
            <%= image_tag 'add_property-icon5.png' %>
          </div>
          <div class="name">All Room<br>Amenities</div>
        </div>
        <div class="tabs-block">
        	<div class="icon">
            <%= image_tag 'add_property-icon6.png' %>
          </div>
          <div class="name">Rooms<br>Rates</div>
        </div>
        <div class="tabs-block">
        	<div class="icon">
            <%= image_tag 'add_property-icon7.png' %>
          </div>
          <div class="name">Photo<br></div>
        </div>
          
        <div class="tabs-block">
        	<div class="icon">
              <%= image_tag 'add_property-icon8.png' %>
            </div>
            <div class="name">Confirmation<br></div>
        </div>
        <div class="propery-tabs-lins"></div>
      </div>
    </div>
  </div>
  <div class="box box-info add-property">
      <!-- form start -->
    <div class="row">
    	<div class="col-md-12">
      	<div class="tabs-title">
        	<%= image_tag 'add_property-icon1.png' %>
            <div class="heading">
              <h1>Property Information</h1>
              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
      <div class="box-body">
      <form>
        <div class="row">
        	<div class="col-md-6">
          	<div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Address Line 1">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Address Line 2">
                </div>
              </div>
            </div>
              
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Property Latitude">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Property Longitude">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group select-wrapper">
                	<select class="form-control" placeholder="">
                  	<option>Time zone</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Zipcode">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="City">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="State/Province">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group select-wrapper">
                	<select class="form-control" placeholder="">
                  	<option>Country</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group select-wrapper">
                	<select class="form-control" placeholder="">
                  	<option>USD</option>
                  	<option>AUS</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          	<div class="row">
            	<div class="col-md-12 col-lg-6 mt-15">
              	<b>Part of a Hotel Chain *2</b>
              </div>
            	<div class="col-lg-6 col-md-12 text-right">
              	<div class="form-group">
                	<div class="can-toggle can-toggle--size-large">
                    <input id="c" type="checkbox">
                    <label for="c" class=" margin-bottom-none">
                      <div class="can-toggle__switch" data-checked="No" data-unchecked="Yes"></div>
                      
                      </label>
                    </div>
                  </div>
                </div>
              </div>
          	<div class="row">
            	<div class="col-md-12">
              	<div class="form-group select-wrapper">
                	<select class="form-control" placeholder="">
                  	<option>Select Hotel Chain</option>
                  	<option>Select Hotel Chain</option>
                  </select>
                </div>
              </div>
            </div>
          	<div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Property Name">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Description">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group select-wrapper">
                	<select class="form-control" placeholder="">
                  	<option>Star rating</option>
                  	<option>1</option>
                  	<option>2</option>
                  </select>
                </div>
              </div>
            </div>
              
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group select-wrapper">
                	<select class="form-control" placeholder="">
                  	<option>Rating Source</option>
                  	<option>1</option>
                  	<option>2</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Property Website (Optional)">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Facebook (Optional)">
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group select-wrapper">
                	<select class="form-control" placeholder="Skype (Optional)">
                  	<option>Time zone</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
              	<div class="form-group">
                  <input type="text" class="form-control" placeholder="Twitter (Optional)">
                </div>
              </div>
            </div>                    
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12 text-right mt-20 mb-20">
          	<button class="btn btn-custom mr-5">Save &amp; Exit</button>
              <button class="btn btn-custom">Next</button>
          </div>
        </div>	 
      </form>
    </div>
  </div>
</div>
